.home-section-1 {
  background-image: linear-gradient(360deg, rgb(34, 34, 34), rgba(34, 34, 34, 0)),
    url(../../assests/mountain-HomePage.jpg), linear-gradient(360deg, rgb(26, 28, 29), rgba(26, 28, 29, 0));
  background-size: cover;
  background-position: 50% 50%;
  min-height: 600px;
  .section-hero {
    min-height: 600px;
    margin: 0 auto;
    padding: 20px 30px;
    max-width: 1200px;
    display: flex;
  }
  .section-intro {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: white;
  }
  h1 {
    font-size: 58px;
    line-height: 1.2;
  }
  p {
    font-size: 22px;
    color: #ddd;
    line-height: 1.4;
  }
  .section-btn {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .home-section-1 {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 18px;
      line-height: 1.8;
    }
  }
}
