.section-5 {
  box-sizing: border-box;
  color: white;
  .container {
    max-width: 1200px;
    width: 98%;
    padding: 100px 30px 100px 20px;
    margin: 0 auto;
    position: relative;
    display: flex;
  }

  //   ----------hover-------
  .hover-card {
    margin-top: 80px;
    z-index: 99;
    position: relative;
    height: 450px;
    max-width: 350px;
    width: 60%;
  }
  .bg-image {
    box-shadow: -5px -5px 10px 1px rgba(0, 0, 0, 0.526);
    height: 100%;
    width: 100%;
    min-width: 228px;
    background-image: url(../../assests/women-in-cafe.jpg);
    background-size: 300%;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  //   ----------hover-------
  .covid-box {
    background-color: #222;
    border-radius: 5px;
    padding: 80px 40px;
    margin-left: -150px;
    width: 100%;
  }
  .box {
    margin: 0 auto;
    padding-left: 200px;
    max-width: 642px;
    min-width: 548px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .title {
    font-size: 52px;
    font-weight: 700;
  }
  .instruction {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  hr {
    margin: 10px 0;
    width: 100px;
  }
  .names {
    width: 150px;
  }
}

@media (max-width: 771px) {
  .section-5 {
    .container {
      flex-direction: column;
      width: 100vw;
      padding: 100px 0;
    }
    .hover-card {
      max-width: none;
      border-radius: 0;
      width: 100vw;
      height: 310px;
      margin: 0;
    }
    .bg-image {
      box-shadow: none;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 0;
    }
    .covid-box {
      margin: 0;
      border-radius: 0;
    }
    .box {
      padding: 0;
    }
  }
}
