.nav {
  box-sizing: border-box;
  background-color: #921111;
  .nav-bar {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
  }

  .menu {
    display: flex;
    gap: 20px;
  }
  .img-logo {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .nav {
    .nav-bar {
      height: 50px;

      .img-logo {
        width: 80px;
      }
    }
  }
}
