.nav {
  box-sizing: border-box;
  height: 70px;
  background-color: #921111f7;
  overflow: hidden;
  .fixed {
    transition: 250ms all;
    background-color: #921111c7;
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100vw;
    z-index: 999;
  }
  .nav-bar {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
  }

  .menu {
    display: flex;
    gap: 20px;
  }
  .img-logo {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .nav {
    .nav-bar {
      height: 50px;

      .img-logo {
        width: 80px;
      }
    }
  }
}
