* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1;
  overflow: overlay;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(109, 44, 44, 0.9);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
